

:root{
/* layout_pdf.css */

/*PAGE CONFIG*/
--pdf-page-size:A4;
--pdf-page-margin:10mm;

/*TYPOGRAPHY*/
--pdf-font-family:Arial, Helvetica, sans-serif;
--pdf-font-size-base:12px;
--pdf-font-color:#000;

/* LAYOUT*/
--pdf-page-bg:#ffffff;
--pdf-page-padding:10mm;

/*BORDER / STRUCTURE*/
--pdf-border-color:#000;
--pdf-border-width:1px;

}


/* NORMAL SCREEN */

.print-area{
display:none;
}

/* PRINT MODE */

@media print{

body{
background:var(--pdf-page-bg);
margin:0;
}

/* esconder interface */
#loading-screen,
#oculte-obj,
.toolbar,
.modal-overlay,
.conteudos-card,
.pdf-card,
.pdf-card-container{
display:none !important;
}

/* mostrar conteúdo de impressão */
.print-area{
display:block;
}


#print-area,
#print-area *{
visibility:visible;
}

#print-area{
position:absolute;
top:0;
left:0;
width:100%;
text-align:center;
font-family:var(--pdf-font-family);
font-size:16px;
}

}

.pdf-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px 0;
}

.pdf-card {
    border: 1px solid #ccc;
    padding: 10px;
    width: 200px;
    background: #fff;
    border-radius: 5px;
}

.btn-oculte{
    cursor: pointer;
}


/* Banco Datas */
.banco-card{
    width:200px;
    padding:16px;
    background:#fff;
    border:1px solid #ddd;
    border-radius:8px;

    display:flex;
    flex-direction:column;
    justify-content:space-between;

    box-shadow:0 2px 6px rgba(0,0,0,0.1);
}

.banco-header{
    display:flex;
    align-items:center;
    gap:10px;
}

.banco-header i{
    font-size:20px;
    color:#444;
}

.banco-header h4{
    font-size:16px;
    margin:0;
}

.btn-open{
    margin-top:15px;
    padding:6px 10px;
    border:none;
    background:#2c7be5;
    color:white;
    border-radius:4px;
    cursor:pointer;
}

.btn-open:hover{
    background:#1a5dc4;
}